<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Salvatore - Nadir</title>

</head>
<body>

  <!-- <div class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">PhotoBlog</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PhotoBlog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




  <div class="body-elements">
    <%- body -%>
  </div>


  <div class="clearfix"></div>

  <footer>
    <div class="container-fluid">
      <section style="height:80px;"></section>
      <!----------- Footer ------------>
      <footer class="footer-bs">
        <div class="row">
          <div id="about" class="col-sm-3 col-sm-offset-1 col-xs-10 col-xs-offset-1 footer-nav animated fadeInLeft">
            <h2>About</h2>
            <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
          </div>
          <div class="col-sm-2 col-sm-offset-1 col-xs-6 col-xs-offset-2 footer-brand animated fadeInUp">

            <img class="footer-logo" src="http://silvercreekart.weebly.com/uploads/3/7/3/0/37300503/9869404.png">

          </div>
          <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-4 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">RSS</a></li>
            </ul>
          </div>

        </div>
      </footer>
      <section style="text-align:center; margin:10px auto;"><p>© June-17 IH Salvatore & Nadir, All rights reserved</p></section>

    </div>


  </footer>
</body>
</html>
