
    <h1 href="/login" class="page-title" align="center">PICK A PIC</h1>
<div class="img-index">

  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://www.graciemag.com/wp-content/uploads/2012/11/102505214-1.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://media.gettyimages.com/photos/two-men-are-seen-with-their-bikes-during-a-sunset-near-lake-van-in-picture-id805255658?s=594x594">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://images.parentherald.com/data/images/full/15619/getty-images.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://cdn.playbuzz.com/cdn/ade5b9fd-ee0a-4517-8e80-f31dd9c7a89e/9649ed77-f5d2-4904-b66b-80f45d649f6b.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://lwosports.com/wp-content/uploads/2017/02/Liverpool-2.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://wac.450f.edgecastcdn.net/80450F/kkcb.com/files/2012/04/yellowfin.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://wac.450f.edgecastcdn.net/80450F/lite987.com/files/2012/06/174029308.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://images.hellogiggles.com/uploads/2017/04/16020536/GettyImages-155256950.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://media.gettyimages.com/photos/macintosh-centris-650-computer-picture-id50478182?s=594x594">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://www2.pictures.gi.zimbio.com/Barack+Obama+Sworn+44th+President+United+States+VYkPt3SBZsSl.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="https://images.plurk.com/1d4889048955ddb46a7281596545ddd5.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://images.en.koreaportal.com/data/images/full/16030/fans-wear-costumes-as-dragon-ball-z-characters-at-the-release-of-the-movie-dragon-ball-z-resurrection-f-in-new-york-on-aug-3-2015.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://images.en.yibada.com/data/thumbs/full/109937/685/0/0/0/a-long-march-2f-rocket-lifts-off-on-sept-29-2011-in-jiuquan-gansu-province-of-china-a-more-powerful-version-of-the-rocket-the-long-march-7-successfully-launched-earlier-this-week.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://media.gettyimages.com/photos/fes-morocco-africa-picture-id555879579?s=594x594">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>

</div>
