
    <h1 href="/login" class="page-title" align="center">PICK A PIC</h1>
<div class="img-index">

  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://blog.loewshotels.com/wp-content/uploads/2015/09/Sailboat-sunset.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>
  <div class="col-sm-4 col-xs-10">
    <img class="home-img col-sm-12 col-xs-12" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
  </div>

</div>
