

  <div class="row container">
        <img class="col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-11" src="images/PIKAPIC.png" alt="logo">
  </div>

<hr>



<div class="img-index">

  <% articles.forEach(article => { %>
    <div class="col-md-4 col-md-4 col-sm-6 col-xs-10 img-group">
      <a href="/read/<%= article._id %>">
        <img class="home-img col-sm-12 col-xs-12" src="<%= article.picture %>">
        <span class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 home-badge badge badge-default badge-pill glyphicon glyphicon-heart"
        ><%= article.likes.length %></span>
    </a>
    </div>
  <% }) %>

</div>
