

<h1 align="center">WELCOME <%= user.name %></h1>


<!-- GALLERY OF THE PHOTOS I POSTED -->
<div class="clearfix">

  <h3 align="center">POSTED PHOTOS</h3>

  <div>

<div class="container-fluid">
      <div class="row">
          <div class="col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1">
              <img class="posted-photos" class="posted-photos" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
              <span class="badge badge-default badge-pill glyphicon glyphicon-heart">14</span>
              <span class="badge-default badge-pill glyphicon glyphicon-trash"></span>
          </div>

          <div class="col-sm-4 col-xs-10 col-xs-offset-1">
              <img class="posted-photos" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
              <span class="badge badge-default badge-pill glyphicon glyphicon-heart">5</span>
              <span class="badge-default badge-pill glyphicon glyphicon-trash"></span>
          </div>

          <div class="col-sm-4 col-xs-10 col-xs-offset-1">
              <img class="posted-photos" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
              <span class="badge badge-default badge-pill glyphicon glyphicon-heart">5</span>
              <span class="badge-default badge-pill glyphicon glyphicon-trash"></span>
          </div>

          <div class="col-sm-4 col-xs-10 col-xs-offset-1">
              <img class="posted-photos" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
              <span class="badge badge-default badge-pill glyphicon glyphicon-heart">5</span>
              <span class="badge-default badge-pill glyphicon glyphicon-trash"></span>
          </div>

      </div>
      
  </div>


  </div>

</div>

<!-- GALLERY OF THE PHOTOS I LIKED -->
<div >
      <h3 align="center">LIKED PHOTOS</h3>

      <div class="img-index col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" >

        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
        <!-- <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://wallpaper-gallery.net/images/image/image-1.jpg"> -->
        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
        <img class="col-sm-3 col-xs-10 col-xs-offset-1" src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
      </div>

  </div>

</div>
