

<h1 align="center">WELCOME "name of member"</h1>


<h3 align="center">POSTED PHOTOS</h3>

<div class="posted-photos ">
  DOG DOG DOG
</div>



<h3 align="center">LIKED PHOTOS</h3>

<div class="liked-photos">
  CAT CAT CAT
</div>
