

<div class="container container-article">

    <div class="main-article-image">
      <img src="http://media.gettyimages.com/photos/kebab-shop-fast-food-restaurant-on-city-road-in-east-london-uk-picture-id527511988">
    </div>

          <div class="article-text">

            <h1 class="article-title">The Kebab Bonanza</h1>


            <p>It’s almost (or is it already?) an association. Turkey is kebab, kebab is turkey. Is that true then? Well, the only thing could be said is that there would be no smoke without fire.</p>
<br>
            <p>Kebab, as people outside the region would think of as the pita bread wrapped meat sandwich or skewered meat, is actually more general term of roasted meat dish. Those type of kebabs are actually just two of many type and variation of kebab, as we’ll see below.</p>
<br>
            <p>So, without further ado, let’s dive into the wonderful world of kebab!</p>

              <br><p id="quote"> "Shish Kebab"</p><br>
                <p>This is what most people think of kebab as. Shish Kebab is a grilled marinated meat in skewer. People from Malaysia and Indonesia know this kind of meat cooking technique as Satay, although Shish Kebab is eaten without any sauce.</p>
                <br>
              <p>The meat used in Shish Kebab, like any other Kebab is lamb. No one will complain if other kind of meat is used instead. For example, the chicken version of this Kebab would be called Tavuk Shish Kebab.</p>
              <br>
              <p>Usually Shish Kebab would be served with one or two calories (e.g. rice, fries), salad, and bread. Though bread is counted as a calory source, everything in Turkey would be served with bread, so I might as well list it in a separate item.</p>

              <br><p id="quote"> "Iskender Kebab"</p><br>
                <p>Let’s start with a trivia: Iskender is the Turkish name for Alexander.</p>
                <br>
              <p>So why did this Kebab has the name of one of the greatest conqueror of all time, Alexander III of Macedon, or Alexander the Great!?</p>
              <br>
              <p>No, no. Not that Alexander. This kebab is named after the inventor: Iskender Efendi, from the city of Bursa, Turkey./p>
              <br>
              <p>What makes this kebab special is how the meat is served, not cooked. The meat used is sliced Doner meat (meat cooked with rotating apparatus, like Shawarma). Then, tomato sauce would be added. Finally it would be served with fresh yogurt and you guess it: bread./p>
              <br>
              <p>And like Shish Kebab, Iskender Kebab has two variation: lamb and chicken meat. Continuing the pattern, for chicken Iskender Kebab, it would be called Tavuk Iskender.</p>

              <br>
              <p id="quote"> "Adana Kebab"</p><br>
                <p>This kebab is very similar to Koobideh in Persian Kebabery(?). Lamb or chicken meat minced with a lot of spice, then grilled along with green pepper and tomato. They are then served with bread and raw onion.</p>
                <br>
              <p>The best thing about Adana Kebab is the spice. It takes the grilled meat into the next level.</p>
              <br>

              <p id="quote"> "Kofte"</p><br>
                <p>Turkish meatball. That’s Kofte in one phrase.</p>
                <br>
              <p>This not so round brown meatball can be eaten in many styles: sandwich-like with bread, with pilav, with rice, anything you can think of.</p>
              <br>
              <p>Kofte meatball is different than Asian meatball in a way that Kofte doesn’t employ any flour at all. So Kofte is a pure meat in round shape.</p>
              <br>

              <p id="quote"> "Doner Kebab"</p><br>
                <p>This is what most people think of “Doner Kebab”. Actually Doner Kebab is just the meat cooking method. Doner literally means to rotate. You know, the rotating thing that has meat attached to it and a grill nearby, that’s Doner Kebab.</p>
                <br>
              <p>Now Doner Kebab is very versatile. It can be eaten with almost everything. However, three of the most popular would be:</p>
              <br>
              <p>Doner Durum: What most people think of Doner Kebab. This is Doner Kebab meat wraped with pita/lavash/durum bread like a sandwich.</p>
              <br>
              <p>Doner Ekmek: Just your usual sandwich bread with Doner Kebab meat./p>
              <br>
              <p>Pilav Utsu Doner: Doner Kebab meat on top of Pilav.</p>


          <BR>



              <div class="signature">

                 <span>An article by <a href="/profile">Agustinus Kristiadi</a></span><br>
                 <span>Posted the 8.3.17</span>

              </div>


          </div>

          <div class="emojis article-text">

              <h3>EXPRESS YOURSELF</h3>

              <button class="reaction-emojis">
                <img src="/images/001-like-1.png" alt="like-emoji">
                <br>
                <span class="badge badge-default">12</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/002-like.png" alt="heart-emoji">
                <br>
                <span class="badge badge-default">19</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/003-laughing.png" alt="laugh-emoji">
                <br>
                <span class="badge badge-default">3</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/004-sad.png" alt="sad-emoji">
                <br>
                <span class="badge badge-default">5</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/005-shocked.png" alt="chocked-emoji">
                <br>
                <span class="badge badge-default">2</span>
              </button>

          </div>


          <div>

              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-twitter btn-lg"><i class="fa fa-twitter fa-2"></i> Share on Twitter</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-2"></i> Share on Linkedin</button></a>

          </div>


          <div class="hp">
          <a href="/">HOME PAGE</a>
          </div>
</div>
