<div class="container container-article">

    <div class="main-article-image">
      <img alt="uploaded-pic" src="">
    </div>

          <div class="article-text">

            <h1 class="article-title"><%= article.title %></h1>


              <p><%= article.content %></p>

              <div class="signature">

                 <span>An article by <a href="/profile"><%= user.name %></a></span><br>
                 <span>Posted the dateofpost</span>

              </div>


          </div>

          <div class="emojis article-text">

              <h3>EXPRESS YOURSELF</h3>

              <button class="reaction-emojis">
                <img src="/images/001-like-1.png" alt="like-emoji">
                <br>
                <span class="badge badge-default">0</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/002-like.png" alt="heart-emoji">
                <br>
                <span class="badge badge-default">0</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/003-laughing.png" alt="laugh-emoji">
                <br>
                <span class="badge badge-default">0</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/004-sad.png" alt="sad-emoji">
                <br>
                <span class="badge badge-default">0</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/005-shocked.png" alt="chocked-emoji">
                <br>
                <span class="badge badge-default">0</span>
              </button>

          </div>


          <div>

              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-twitter btn-lg"><i class="fa fa-twitter fa-2"></i> Share on Twitter</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-2"></i> Share on Linkedin</button></a>

          </div>


          <div class="hp">
          <a href="/">HOME PAGE</a>
          </div>
</div>
