<div class="container container-article">

    <div class="main-article-image">
      <img src="http://2.bp.blogspot.com/-VzjWxhNbi0Y/UxiR0T8hb_I/AAAAAAAAAXA/NBtmpBKiH8I/s1600/British+cat.jpg">
    </div>

          <div class="article-text">

            <h1 class="article-title">Quisque non efficitur</h1>


              <p>Vestibulum tempus ligula magna, vitae interdum urna facilisis et.</p><br>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam in mi posuere faucibus non faucibus augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam rutrum euismod tempus. Vestibulum id turpis purus. Quisque augue libero, porttitor at diam nec, tincidunt mollis erat. Quisque eu congue magna, tincidunt dictum elit. Quisque rhoncus velit leo, a ultricies nibh ullamcorper eget. Quisque non efficitur lacus. Mauris lectus justo, aliquam in tempor maximus, imperdiet vel purus. Morbi facilisis metus dui, sit amet fermentum sapien ultrices id. Quisque augue erat, ullamcorper vulputate lorem et, sagittis placerat mauris.<p>
              <br><p id="quote"> "Vestibulum tempus ligula magna"</p><br>
                <p>Pellentesque congue semper leo ac maximus. Maecenas non nisl sed sapien placerat cursus non nec odio. Praesent ex nulla, tristique eget finibus sed, tincidunt vel lectus. Quisque a vestibulum neque. Suspendisse malesuada porta justo, quis posuere ligula rutrum nec. Aenean faucibus consequat ligula, ac fringilla nulla. Nunc non rutrum eros, sit amet placerat orci. Curabitur tempus vulputate varius. Nam luctus tincidunt lacus a venenatis. Phasellus et iaculis massa, in suscipit ligula. Vestibulum tempus ligula magna, vitae interdum urna facilisis et. Nullam vitae libero a enim laoreet accumsan a a purus. Aenean eros magna, fermentum in ornare sit amet, hendrerit et mi. Praesent accumsan leo nisl, ac sodales felis porta id. Nam quis lacinia dolor. Etiam efficitur bibendum eros, eu laoreet libero tempor dictum.</p><br>
              <p>n ac magna vitae est interdum posuere. Nulla dictum elit elit, at cursus lacus imperdiet sed. In laoreet ipsum id lectus imperdiet pharetra. In hac habitasse platea dictumst. Donec volutpat quis lacus eget convallis. Sed tincidunt ipsum quis nisl mollis molestie. Mauris semper eros eu ligula sollicitudin venenatis et non ante. Maecenas sed vulputate arcu, eget congue enim. In iaculis venenatis urna, vitae varius nibh egestas nec. Aliquam sed fermentum est.</p>


              <div class="signature">

                 <span>An article by <a href="/profile"><%= article.title %></a></span><br>
                 <span>Posted the 8.3.17</span>

              </div>


          </div>

          <div class="emojis article-text">

              <h3>EXPRESS YOURSELF</h3>

              <button class="reaction-emojis">
                <img src="/images/001-like-1.png" alt="like-emoji">
                <br>
                <span class="badge badge-default">12</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/002-like.png" alt="heart-emoji">
                <br>
                <span class="badge badge-default">19</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/003-laughing.png" alt="laugh-emoji">
                <br>
                <span class="badge badge-default">3</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/004-sad.png" alt="sad-emoji">
                <br>
                <span class="badge badge-default">5</span>
              </button>
              <button class="reaction-emojis">
                <img src="/images/005-shocked.png" alt="chocked-emoji">
                <br>
                <span class="badge badge-default">2</span>
              </button>

          </div>


          <div>

              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-twitter btn-lg"><i class="fa fa-twitter fa-2"></i> Share on Twitter</button></a>
              <a href="#" ><button style="width:100%; margin-top:10px;" type="button" class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-2"></i> Share on Linkedin</button></a>

          </div>


          <div class="hp">
          <a href="/">HOME PAGE</a>
          </div>
</div>
