
<div class="text-forms col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
  <div class="upload-img">
  </div>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="form-group">Upload your photo</label>
        <input type="file" name="photo">
      </div>
      </br>
      <div class="form-group">
        <label for="title">Post Title</label>
        <input type="text" name="title" class="form-control" placeholder="your title here">
      </div>
      </br>
      <div class="form-group article-content">
        <label for="content">Content</label>
        <input id="content" type="content" name="content" class="form-control" placeholder="write your article here">
      </div>

      <% if (typeof message != "undefined") { %>
          <div class="error-message"><%= message %></div>
        <% } %>

     <button type="submit" value="Submit Post">Submit Post</button>



  </form>
</div>
